/* General Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html,
body {
    height: 100%;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

aside,
footer,
header {
    display: block;
}

body {
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    background-color: #fff;
}

/* layout
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.wrapper {
    height: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

.wrapper:before,
.wrapper:after {
    content: " ";
    display: table;
}

.main-header {
    position: fixed;
    width: 100%;
    z-index: 1030;
    background-color: #2F3647;
    height: 60px;
    color: #ddd;
}


.main-sidebar,
.left-side {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 60px;
    height: 100%;
    width: 230px;
    color: #ddd;
    background-color: #353D4E;
}


.content-wrapper,
.right-side {
    background-color: #EBF1F5;
    padding-top: 80px;
    z-index: 800;
    height: 100%;
    overflow-y: scroll;
}

.content-wrapper,
.right-side {
    margin-left: 230px;
    z-index: 820;
}

.main-footer {
    background: #fff;
    position: fixed;
    bottom: 0px;
    width: 100%;
    border-top: 1px solid #d2d6de;
}


/* elements
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.main-header h1 {
  display: inline-block;
  line-height: 60px;
  white-space: nowrap;
  margin-left: 50px;
}

button#burger {
  background: none;
  color: #fff;
  font-size: 30px;
  border: none;
  margin-left: 10px;
}

.main-sidebar ul li {
    display: block;
    text-align: center;
}

.main-sidebar ul li button {
    background: none;
    border: none;
    width: 100%;
    padding: 20px 0px;
    color: #a9a8a8;
}

.main-sidebar ul li button.active {
    border-left: 1px solid red;
    color: #fff;
    background: #2F3647;
}

.main-sidebar h2 {
    text-align: center;
    padding: 20px 0px;
    background: #3B4153;
}

.main-sidebar h2 span {
    font-size: 18px;
    padding: 4px;
    margin: 5px;
    border-radius: 100%;
    background: red;
}

.main-footer input {
    width: 100%;
}

.main-footer textarea {
    display: block;
    width: 100%;
    height: 60px;
    font-size: 18px;
    padding: 5px 10px;
}

.main-footer .message {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
}

.main-footer .message span {
    font-size: 3em;
    color: green;
}

@media (max-width: 768px) {
    .main-sidebar {
        left: -230px;
    }
    .content-wrapper {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    #burger {
        display: none;
    }
}

.side-bar-block {
    left: 0;
    transition: left 0.3s ease-out;
}

.content-margin {
    margin-left: 230px;
    transition: margin-left 0.3s ease-out;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    height: 250px;
    margin: 20px 0px;
    border: 1px solid #ddd;
    padding: 30px;
    text-align: center;
}

.card img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    display: block;
    margin: 20px auto;
}

.card h4 {
    text-align: center;
}

button {
    cursor: pointer;
}


/* Grid skelton.css
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.container {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.column,
.columns {
    width: 100%;
    float: left;
    box-sizing: border-box;
}


/* For devices larger than 400px */

@media (min-width: 400px) {
    .container {
        width: 85%;
        padding: 0;
    }
}


/* For devices larger than 550px */

@media (min-width: 550px) {
    .container {
        width: 80%;
    }
    .column,
    .columns {
        margin-left: 4%;
    }
    .column:first-child,
    .columns:first-child {
        margin-left: 0;
    }
    .one.column,
    .one.columns {
        width: 4.66666666667%;
    }
    .two.columns {
        width: 13.3333333333%;
    }
    .three.columns {
        width: 22%;
    }
    .four.columns {
        width: 30.6666666667%;
    }
    .five.columns {
        width: 39.3333333333%;
    }
    .six.columns {
        width: 48%;
    }
    .seven.columns {
        width: 56.6666666667%;
    }
    .eight.columns {
        width: 65.3333333333%;
    }
    .nine.columns {
        width: 74.0%;
    }
    .ten.columns {
        width: 82.6666666667%;
    }
    .eleven.columns {
        width: 91.3333333333%;
    }
    .twelve.columns {
        width: 100%;
        margin-left: 0;
    }
    .one-third.column {
        width: 30.6666666667%;
    }
    .two-thirds.column {
        width: 65.3333333333%;
    }
    .one-half.column {
        width: 48%;
    }
    /* Offsets */
    .offset-by-one.column,
    .offset-by-one.columns {
        margin-left: 8.66666666667%;
    }
    .offset-by-two.column,
    .offset-by-two.columns {
        margin-left: 17.3333333333%;
    }
    .offset-by-three.column,
    .offset-by-three.columns {
        margin-left: 26%;
    }
    .offset-by-four.column,
    .offset-by-four.columns {
        margin-left: 34.6666666667%;
    }
    .offset-by-five.column,
    .offset-by-five.columns {
        margin-left: 43.3333333333%;
    }
    .offset-by-six.column,
    .offset-by-six.columns {
        margin-left: 52%;
    }
    .offset-by-seven.column,
    .offset-by-seven.columns {
        margin-left: 60.6666666667%;
    }
    .offset-by-eight.column,
    .offset-by-eight.columns {
        margin-left: 69.3333333333%;
    }
    .offset-by-nine.column,
    .offset-by-nine.columns {
        margin-left: 78.0%;
    }
    .offset-by-ten.column,
    .offset-by-ten.columns {
        margin-left: 86.6666666667%;
    }
    .offset-by-eleven.column,
    .offset-by-eleven.columns {
        margin-left: 95.3333333333%;
    }
    .offset-by-one-third.column,
    .offset-by-one-third.columns {
        margin-left: 34.6666666667%;
    }
    .offset-by-two-thirds.column,
    .offset-by-two-thirds.columns {
        margin-left: 69.3333333333%;
    }
    .offset-by-one-half.column,
    .offset-by-one-half.columns {
        margin-left: 52%;
    }
}


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/* Self Clearing Goodness */

.container:after,
.row:after,
.u-cf {
    content: "";
    display: table;
    clear: both;
}